*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    display: flex;
   width: 50%;
   height: 500px ;
}
section>div{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    backdrop-filter: blur(100px);


}
section>div>h1{
    font-size: 40px;
}
form{
    width: 70%;
    height: 100%;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
form>h1{
    font-size: 50px;
    font-weight: 800;
}

form>input{
    padding-left: 20px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
}

form>input::placeholder{
    font-size: 17px;
    color: black;
}


form>button{
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    background-color: black;
    color: white;
    font-size: 17px;
    transition: all 300ms;
}

form>button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid;
    cursor: pointer;
}



form>a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 23px;

}